// 定义全局样式

div::-webkit-scrollbar {
    width: 1px;
    height: 5px;
    /**/
  }
  div::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    // background-color: #f2784b;;
    border-radius: 2px;
  }
  div::-webkit-scrollbar-thumb { 
    background: #f2784b !important;
    border-radius: 10px;
  }
  div::-webkit-scrollbar-thumb:hover {
    background: #ddd;
  } 
  div::-webkit-scrollbar-corner {
    background: #179a16;
  }