  nz-header,
  nz-footer {
    background-color: rgb(122, 151, 130);
    color:#FFF;
  }

 
  nz-sider {
    height: 92vh;
  }

  nz-content {
    padding: 10px;
    overflow: hidden;
    height: 92vh;
  }

  nz-layout:last-child {
    margin: 0;
  }